:root {
    --cor-fundo: rgb(239, 170, 214);
    --cor-principal: rgb(244, 4, 156);
    --cor-secundaria: rgb(217, 164, 198);
    --cor-destaque: rgb(174, 5, 112);
    --cor-texto: rgb(8, 0, 5);
} 

body {
background-color: var(--cor-fundo);
color: var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.caixa-principal{
    background-color: var (--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}